body {
  font-family     : sans-serif;
  background-color: #D6D6D6;
  margin          : 0;
  padding         : 0;
}

.app {
  max-width: flex;
  margin   : 0 auto;
}

header {
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  padding         : 20px;
  background-color: white;
  margin-bottom   : 20px;
  border-bottom   : 1px solid #666;
}

.header-left h1 {
  margin   : 0;
  font-size: 20px;
}

.header-left p {
  margin   : 0;
  font-size: 14px;
  color    : #666;
}

.header-right button {
  padding         : 8px 16px;
  margin-left     : 10px;
  cursor          : pointer;
  border          : 1px solid #666;
  background-color: white;
  border-radius   : 8px;
}

.header-right button.save-btn {
  background-color: #007bff;
  color           : white;
  border          : none;
}